@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-yuGothic;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #9edbff;
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4799fc;
    border-radius: 2px;
    border: none;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4799fc;
  } 